Source: bake
Section: utils
Priority: optional
Maintainer: Emil Williams <emil@chud.cyou>
Homepage: https://xolatile.top/bake
Vcs-Git: https://github.com/8e8m/bake.git
Vcs-Browser: https://github.com/8e8m/bake
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.2
Rules-Requires-Root: no

Package: bake
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Run Embedded Shell Scripts
 It executes with /bin/sh the command after a "@BAKE " to the end of
 the line (a UNIX newline: '\n') or to the first instance of @STOP.
